<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791133880182-nd3o3hildhnl58h79867mnp3k2i1bij5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791133880182-nd3o3hildhnl58h79867mnp3k2i1bij5</string>
	<key>API_KEY</key>
	<string>AIzaSyAbG5sKM8yQDcux7WuZGbDuB63Cg28iEWA</string>
	<key>GCM_SENDER_ID</key>
	<string>791133880182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wagner.goulart.TwitterApp</string>
	<key>PROJECT_ID</key>
	<string>wcfx-twitter</string>
	<key>STORAGE_BUCKET</key>
	<string>wcfx-twitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791133880182:ios:7d22b81e7939cc958c4457</string>
	<key>DATABASE_URL</key>
	<string>https://wcfx-twitter-default-rtdb.firebaseio.com</string>
</dict>
</plist>